#clock {
    margin: 10px;
    padding: 10px 20px;
    height: 20px;
    width: 80px;
    
    color: gray;
    font-size: large;
    font-weight: 700;
    border: 2px solid white;
    border-radius: 5px;
}

/* TODO: Font 색깔 바꿀 수 있도록..*/